@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, 
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{

  /* colors */
  
  --bg-color-1: rgb(15, 16, 20);
  --bg-color-2: rgba(255, 204, 117, 0.1);
  --bg-color-3: rgb(37, 40, 51);
  --bg-color-4: rgb(22, 24, 31);
  --bg-color-5: rgb(9, 22, 48);
  --bg-color-6: rgb(26, 30, 38);

  --overlay-color: rgba(0, 0, 0, .8);
  --overlay-color-2: rgba(0, 0, 0, 0);
  --overlay-color-3: rgba(0, 0, 0, 0.5);
/* 
  --button-color-1: */
  --button-color-1: rgb(52, 113, 245);
  --button-color-2: rgb(8, 65, 189);
  --button-color-3: rgba(88, 89, 91, 0.5);
  --button-color-4: rgba(255, 255, 255, 0.3);;

  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(143, 152, 178);
  --text-color-3: rgba(255, 255, 255, 0.6);
  --text-color-4: rgb(255, 204, 117);
  --text-color-5: rgba(255, 255, 255, 0.839);

  /* font */

  --font-family: 'Inter', sans-serif;

  /* font-size */
  --font-sz-0: 12px;
  --font-sz-1: 14px;
  --font-sz-2: 16px;
  --font-sz-3: 18px;
  --font-sz-4: 20px;
  --font-sz-5: 24px;
  --font-sz-6: 28px;
  --font-sz-7: 32px;
  --font-sz-8: 40px;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg-color-1);
  font-family: var(--font-family);
  position: relative;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.hidden{
  overflow: hidden;
}

/* heading-text */

.heading-text-1{
  font-size: var(--font-sz-4);
  color: var(--text-color-1);
}

.heading-text-2{
  font-size: var(--font-sz-2);
  color: var(--text-color-1);
}

.heading-text-3{
  font-size: var(--font-sz-6);
  color: var(--text-color-1);
}

/* body-text */

.body-text-1{
  color: var(--text-color-1);
  font-size: var(--font-sz-2);
}

.body-text-2{
  font-size: var(--font-sz-1);
  color: var(--text-color-2);
}

.body-text-3{
  font-size: var(--font-sz-3);
  color: var(--text-color-5);
}

.body-text-1,
.body-text-2,
.body-text-3,
.body-text-4{
  line-height: 28px;
}

.container{
  padding: 0 0 0 112px;
  width: 100%;
}

.container-2{
  padding: 0 0 0 112px;
  background-image: linear-gradient(to bottom, var(--bg-color-5), var(--bg-color-1));
}

.container-3{
  width: 100%;
  min-height: 100vh;
}

/* button styles */

button{
  border-radius: 5px;
}

.button-1{
  padding: 12px 64px;
  font-size: var(--font-sz-3);
  color: var(--text-color-1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--button-color-1);
  background-image: linear-gradient(to right, var(--button-color-1), var(--button-color-2));
}

.button-2{
  padding: 12px 64px;
  font-size: var(--font-sz-3);
  color: var(--text-color-1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-color-2);
}

.button-3{
  flex: 1;
  padding: 14px;
  font-size: var(--font-sz-3);
  color: var(--text-color-1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--button-color-3); 
}

.button-4{
  padding: 14px;
  font-size: var(--font-sz-4);
  color: var(--text-color-1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--button-color-3); 
}

.button-1:hover, .button-2:hover, .button-3:hover, .button-4:hover{
  transform: scale(1.05);
}