.search-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 64px;
}

.show-wrapper{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 8px;
    padding: 0px 32px 64px 0;
}

.show-wrapper-2{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 8px;
    padding: 64px 32px 64px 0;
}



@media screen and (max-width:768px) {
    .show-wrapper{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .show-wrapper-2{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (max-width:650px) {
    .show-wrapper, .show-wrapper-2{
        padding: 0;
    }
}